body {
    background-color: #F6F6F6;
}

/* Begin: Card slider stylization*/
.cardSlider {
    margin-top: 26px;
}

.cardSlider .cards-container {
    margin-bottom: 26px;
}

.cardSlider .cards-container .card {
    width: 308px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-top-color: #2DA936;
    display: inline-block;
    border-radius: 2px;
    margin-left: 26px;
}

.cardSlider .cards-container .card .card-image img {
    display: block;
    width: 308px;
    height: 133px;
    border-radius: 2px 2px 0 0;
}

.cardSlider .cards-container .card-content {
    margin: 0 19px 19px 19px;
}

.cardSlider .cards-container .card-content .card-header {
    height: 76px;
    display: table;
}

.cardSlider .cards-container .card .card-content .card-header .card-logo {
    display: table-cell;
    vertical-align: middle;
}

.cardSlider .cards-container .card .card-content .card-header .card-logo img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.cardSlider .cards-container .card .card-content .card-header .card-presentation {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.cardSlider .cards-container .card .card-content .card-header .title {
    font-size: 23px;
    color: #3A3A3A;
    font-family: Arial, serif; /* fallback alternative font-family */
    font-weight: bold;
}

.cardSlider .cards-container .card .card-content .card-header .description {
    text-transform: uppercase;
    font-size: 12px;
    color: #ADADAD;
    font-family: Arial, serif; /* fallback alternative font-family */
    font-weight: bold;
}

.cardSlider .cards-container .card .card-content .card-body {
    font-size: 12px;
    color: #3A3A3A;
    font-family: Arial, serif; /* fallback alternative font-family */
    font-weight: bold;
    line-height: 1.583;
    margin-bottom: 19px;
    height: 57px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.cardSlider .cards-container .card .card-content .card-footer {
    font-size: 16px;
    color: #2DA936;
    font-family: Arial, serif; /* fallback alternative font-family */
    font-weight: bold;
}

.cardSlider .cardSlider-footer .cardSlider-arrows-wrapper {
    margin: 0 auto;
    width: 40px;
}

.cardSlider .cardSlider-footer .cardSlider-arrow {
    font-size: 26px;
    color: #2DA936;
    font-family: Arial, serif; /* fallback alternative font-family */
    font-weight: bold;
    border: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.cardSlider .cardSlider-footer .cardSlider-arrow:hover {
    color: #288931;
}

.cardSlider .cardSlider-footer .cardSlider-arrow:focus {
    outline:0;
}

#less {
    float: left;
}

#more {
    float: right;
}

/* End: Card slider stylization */